@tailwind base;

@tailwind components;

@tailwind utilities;

/*Used in CVGerman / CVEnglish / Pubxyz*/
.pubsrc {
    font-style: italic;
    font-weight: 300;
    margin-top: 1rem;
}

/*Used in CVGerman / Pubxyz*/
.ref {
    color: #000080;
    font-weight: 700;
}

.cvulist {
    margin-top: 0.5rem;
    margin-left: 1rem;
    list-style-type: disc;
}

.cvli {
    padding: 0.5rem;
}

.cvheaderli {
    font-weight: 700;
}

.cvheaderABC {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.125rem;
}

.plusminus {
    display: flex;
    align-items: center;
    justify-content: center;
}