@tailwind base;

@tailwind components;

@tailwind utilities;

/*Used in CVGerman / CVEnglish / Pubxyz*/
.pubsrc {
    font-style: italic;
    font-weight: 250;
    margin-top: 1rem;
    color:#3c366b;
}

/*Used in CVGerman / Pubxyz*/
.ref {
    color: #000080;
    font-weight: 700;
}

.cvulist {
    margin-top: 0.5rem;
    margin-left: 1rem;
    list-style-type: disc;
}

.cvli {
    padding: 0.5rem;
}

.cvheaderli {
    font-weight: 800;
    font-size: 1.125rem;
}

.cvheaderABC {
    font-weight: 700;
    font-size: 1.125rem;
    text-decoration: underline;
}

/*Lectures / */
.plusminus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBorder {
    --border-opacity: 1;
    border-color: #3c366b;
    border-color: rgba(60, 54, 107, var(--border-opacity));
    border-width: 4px;
}

.lectures {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Satisfy', cursive;
    font-size: 2.25rem;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 1rem;
    cursor: pointer;
}

.body {
    font-family: 'Noto Sans JP', sans-serif;
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.cvenglishheader {
    font-weight: 800;
    font-size: 1.25rem;
    text-decoration: underline;
    
}

.pubname {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.5rem;
    text-decoration: underline;
}

.definitioncard {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 600;
    padding: 1rem;
    text-decoration: underline;
}
